<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
	
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/general.js"></script>
</head>
<body>
	<div id="header" class="container-fluid">
		<div class="col-sm-1">
			<a href="index.html">
				<img src="img/logo.png" style="height: 80px; width: 80px"/>
			</a>
		</div>
		<div class="col-sm-11">
			<h1 class="text-center">Welcome to Hogwarts!</h1>
		</div>
	</div>
	<div id="body" class="container-fluid">
		<div id="sidebar-wrapper" class="col-sm-2 lr0pad">
            <ul class="sidebar-nav">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-share"></span> Dashboard</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span> Shortcuts</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span> Overview</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span> Events</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span> About</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span> Services</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span> Contact</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span> Services</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-ok"></span> Contact</a>
                </li>

            </ul>
        </div>
        <div class="col-sm-10">
        	<h1>The content goes here!</h1>
        </div>
	</div>
	<div id="footer" class="container-fluid">
		<center>
			<h3>
				<a href="">Contact us</a>
				<a href="">Privacy Policy</a>
				<a href="">Cookies</a>
				<a href="">Copyright</a>
			</h3>
		</center>
	</div>
</body>
</html>